colorama
cryptography
astral
ephem
python-dotenv
grpcio
grpcio-tools
psycopg
argon2-cffi
dnspython
PyJWT
Jinja2
Pillow
nicegui
torch
transformers
huggingface-hub
accelerate
bitsandbytes
sentence-transformers
datasets
faiss-gpu
deepspeed
blobfile
protobuf
tokenizers
openpyxl
pybind11>=2.12
numpy>=1.21.0,<2.0.0
tiktoken>=0.4.0
sentencepiece>=0.1.97
langchain
langchain-community
langchain-huggingface
protobuf
sentencepiece