@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

sizer(w,h)
    width w
    height h
flexer(jc,ai,fw)
    display flex
    justify-content: jc 
    align-items: ai  
    align-content: ai
    flex-flow: fw
fonter(fw,fs,lh)
    font-family: "Jura", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: fw
    font-size: fs
    line-height: lh

anone()
  border none
  outline none
  margin 0
  text-decoration none



fl = 300
fm = 450
fsb = 500
fb = 700

c = center 
rw = row wrap
cw = column wrap
cn = column nowrap  
s = flex-start 
e = flex-end  
rn = row nowrap
sb = space-between 
sa = space-around

bb = border-box


dark_violet = #060120
wht = #D9D9D9
whtl = #bdbdbd
gry = #a1a1a1